<div class="ui grid stackable two column middle aligned">
  <div class="column intro-flip big-logo center aligned">
    <img class="ui image" src="/img/logo.png" alt="Logo" />
  </div>
  <div class="column">
    <h1 class="ui red header huge intro-flip">Web Developer.</h1>
    <h1 class="ui grey header intro-flip">One man's quest to make the world a better place by writing code that is <span class="text blue">well designed</span>, <span class="text blue">innovative</span>, and <span class="text blue">draws people together</span>.</h1>
  </div>
</div>
<div class="ui one column center aligned grid intro-flip">
  {{#link-to 'projects' class="ui red massive center button"}}See My Work{{/link-to}}
</div>
