{{#if session.isAuthenticated}}
<p>You are Signed In!</p>
<p>{{#link-to 'index'}}Go Home{{/link-to}}</p>
{{else}}
<form class="ui form">
  <h3>Login</h3>

  <div class="field">
    <label for="email">Email</label>
    {{input value=email id=email}}
  </div>

  <div class="field">
    <label for="password">Password</label>
    {{input value=password id=password type="password"}}
  </div>

  <button {{action 'login'}} class="ui primary button">Login</button>
</form>
{{/if}}
