<h1 class="ui header red center aligned ginormous">My name is Kyle and I love developing websites.</h1>
<div class="ui grid stackable two column top aligned">
  <div class="column five wide">
    <img src="http://i1377.photobucket.com/albums/ah50/Kyle_Mellander/profile_zpsjgxdnohl.jpg" class="ui image rounded centered">
  </div>
  <div class="column eleven wide">
    <div class="ui top attached tabular inverted blue menu stackable">
      <div class="active item" data-tab="first"><h2>About Me</h2></div>
      <div class="item" data-tab="second"><h2>Job History</h2></div>
      <div class="item" data-tab="third"><h2>Education</h2></div>
      <div class="item" data-tab="fourth"><h2>Fun Facts</h2></div>
    </div>
    <div class="ui bottom attached tab segment padded about active" data-tab="first">
      <p>I have been developing websites as a hobby for over 19 years. I got my first job as an independent web developer at 16, designing a site for a Herbalife distributor. It sparked a life-long interest in web design. I have always enjoyed to integrate all aspects of a person's experiences on the web.</p>
      <p>For the past 10 years, I have worked as a pastor and have had the pleasure of not only creating media that fits a purpose, but also to live with people in a way that impacts their lives. As a pastor, I developed lots of great public and interpersonal skills.  I loved working with people and equipping people with the opportunities and skills to help the less fortunate.</p>
      <p>At the same time I was doing this, I always found myself getting excited and lost in new web projects, trying to use tools in existence (usually Drupal) to make projects that pushed the bounds of what I wanted to do. Now I am braving the world of web design and development. I hope to create websites for people that help to better one another and our world.</p>
    </div>
    <div class="ui bottom attached tab segment padded about " data-tab="second">
      <h3 class="ui header">
        Associate Pastor of Youth and Outreach at Canby Alliance Church<br>
        <span class="ui sub header">October 2005 - 2015 (10 years)</span>
      </h3>
      <div class="ui list">
        <div class="item">
          <i class="icon circle red notched"></i> Regular public speaking for 30 minute presentations to 300+ people.
        </div>
        <div class="item">
          <i class="icon circle red notched"></i> Recruiting and training of a volunteer team to mentor students.
        </div>
        <div class="item">
          <i class="icon circle red notched"></i> Vision casting through concrete vision statements and action points for long term projects.
        </div>
        <div class="item">
          <i class="icon circle red notched"></i> Develop community projects to serve at-risk students.
        </div>
        <div class="item">
          <i class="icon circle red notched"></i> Plan and lead a week long event for about 200 people to do community service projects in the Canby community.
        </div>
        <div class="item">
          <i class="icon circle red notched"></i> Develop and maintain website and other tech support for the organization.
        </div>
        <div class="item">
          <i class="icon circle red notched"></i> Create and maintain international partnerships across many different cultural contexts.
        </div>
      </div>
      <h3 class="ui header">
        Customer Service and Sales Representative at American Family Insurance<br>
        <span class="ui sub header">2003 - 2005 (2 years)</span>
      </h3>
      <div class="ui list">
        <div class="item">
          <i class="icon circle red notched"></i> Work with current clients to service their accounts.
        </div>
        <div class="item">
          <i class="icon circle red notched"></i> work with potential clients to sell them varied insurance products.
        </div>
      </div>
    </div>
    <div class="ui bottom attached tab segment padded about " data-tab="third">
      <h3 class="ui header">
        Epicodus<br>
        <span class="ui sub header">2015</span>
      </h3>
      <span>Ruby on Rails / Javascript / Ember.js</span>
      <h3 class="ui header">
        Multnomah University<br>
        <span class="ui sub header">1998 - 2003</span>
      </h3>
      <span>BS, Bible/Biblical Studies and Youth Ministry</span>
    </div>
    <div class="ui bottom attached tab segment padded about " data-tab="fourth">
      <div class="ui list">
          <div class="item">
            <p><i class="icon circle red notched"></i> I have 4 kids - my youngest two are twins. My wife and my kids are hugely important to me.</p>
          </div>
          <div class="item">
            <p><i class="icon circle red notched"></i> I grew up loving baseball, but have fallen in love with soccer over the past 4 years. #RCTID</p>
          </div>
          <div class="item">
            <p><i class="icon circle red notched"></i> I love to read and think. Expanding my understanding is always important to me.</p>
          </div>
          <div class="item">
            <p><i class="icon circle red notched"></i> My wife says that I don't enjoy something until I make it do something it wasn't designed to do. I like to think that's a good thing.</p>
          </div>
          <div class="item">
            <p><i class="icon circle red notched"></i> I'm half-Swiss. Does that make me half-neutral?</p>
          </div>
          <div class="item">
            <p><i class="icon circle red notched"></i> I have a deep heart for those who are overlooked. I've always gone out of my way to build up those who just don't fit in.</p>
          </div>
          <div class="item">
            <p><i class="icon circle red notched"></i> I have 2 standards for my relationships that guide me: 1. Is to see them and their point of view, and 2. Is do what I can to risk myself so I can care for others.</p>
          </div>
          <div class="item">
            <p><i class="icon circle red notched"></i> I love a challenge. Whenever I am in a situation where I am pushed, I do my best work.</p>
          </div>
      </div>
    </div>
  </div>
</div>
