<h1 class="ui header red center aligned ginormous">My name is Kyle and I love developing websites.</h1>
<div class="ui grid stackable two column top aligned">
  <div class="column five wide">
    <img src="http://i1377.photobucket.com/albums/ah50/Kyle_Mellander/profile_zpsjgxdnohl.jpg" class="ui image rounded centered">
  </div>
  <div class="column eleven wide">
    {{about-view}}
  </div>
</div>
