<div class="km-menu">
  <img src="/img/logo_sm.png">
  <ul>
    <li>{{#link-to 'index'}}Home{{/link-to}}</li>
    <li>{{#link-to 'projects'}}Portfolio{{/link-to}}</li>
    <li>{{#link-to 'about'}}About Kyle{{/link-to}}</li>
    <li>
      <a href="https://github.com/kylemellander" target="_blank"><i class="github big square icon"></i></a>
      <a href="https://www.linkedin.com/in/kylemellander" target="_blank"><i class="linkedin big square icon"></i></a>
      <a href="https://www.facebook.com/mellander" target="_blank"><i class="facebook big square icon"></i></a>
      <a href="https://www.twitter.com/mellander" target="_blank"><i class="twitter big square icon"></i></a>
    </li>
  </ul>
</div>

<div class="km-main-container">
  {{outlet}}
</div>

{{#if session.isAuthenticated}}
  Logged in as {{session.currentUser.email}}
  <button {{action "signOut"}}>Sign out</button>
{{else}}
  {{#link-to 'login'}}<button>Sign in</button>{{/link-to}}
{{/if}}
