<img src="/img/logo.png">
<h1>Web Developer</h1>
<h2>One man's quest to make the world a better place by writing code that is well designed, innovative, and draws people together.</h2>

{{#link-to 'projects'}}<button>See My Work</button>{{/link-to}}
